<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ collaboration_id|json_script:"collaboration-id" }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script>
        const collaboration_id = JSON.parse(document.getElementById('collaboration-id').textContent);
        const token = getCookie('token')
        window.onload = performFetch()
        function performFetch() {
            fetch(`http://${window.location.host}/api/v1/messages/?collaboration_id=${collaboration_id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Token ${token}`
            }})
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                data.forEach(obj => {
                    document.querySelector('#chat-log').value += (obj.text + '\n');
                })
            })
        }
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/collaborations/'
            + collaboration_id
            + '/?token='
            + token
        );

        chatSocket.onmessage = function(e) {
            /*const data = JSON.parse(e.data);*/
            document.querySelector('#chat-log').value += (e.data + '\n');
            console.log("message", e);
        };

        chatSocket.onopen = function(e) {
            console.log("open", e);
        };

        chatSocket.onerror = function(e) {
            console.log("error", e);
        };

        chatSocket.onclose = function(e) {
            /*console.error('Chat socket closed unexpectedly');*/
            console.log("close", e);
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            /*chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'fetch_messages',
                'collaboration': 12
            }));*/
            chatSocket.send(message);
            messageInputDom.value = '';
        };

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
</body>
</html>